<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<!--action - куда форма передает данные-->
<form th:method="POST" th:action="@{/students}" th:object="${student}">
  <label for="lastName">Enter lastname: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <label for="firstName">Enter firstname: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>